---
# Harbor Registry Secret Template
# Create actual secret with:
# kubectl create secret docker-registry harbor-registry \
#   --docker-server=harbor.server.thweb.click \
#   --docker-username=gitlab-ci \
#   --docker-password='ROBOT_ACCOUNT_TOKEN' \
#   --namespace=obo-ns

apiVersion: v1
kind: Secret
metadata:
  name: harbor-registry
  namespace: obo-ns
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: REPLACE_WITH_BASE64_ENCODED_DOCKER_CONFIG
